@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-100: 253 100% 93%;

  --orange-100: 10 93% 92%;

  --neutral-900: 261 46% 15%;
  --neutral-400: 220 9% 46%;
  --neutral-200: 257 14% 92%;

  --font-size-200: clamp(0.56rem, calc(0.62rem + -0.04vw), 0.61rem);
  --font-size-300: clamp(0.85rem, calc(0.85rem + -0.08vw), 0.9rem);
  --font-size-400: clamp(0.88rem, calc(0.85rem + 0.13vw), 1.00rem);
  --font-size-500: clamp(1.05rem, calc(0.99rem + 0.28vw), 1.33rem);
  --font-size-600: clamp(1.26rem, calc(1.16rem + 0.52vw), 1.78rem);
  --font-size-700: clamp(1.51rem, calc(1.34rem + 0.86vw), 2.37rem);
  --font-size-800: clamp(1.81rem, calc(1.55rem + 1.34vw), 3.16rem);
  --font-size-900: clamp(2.18rem, calc(1.77rem + 2.03vw), 4.21rem);
}

@media (prefers-color-scheme: dark) {}

.grainy-bg {
  /* @apply bg-[url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAElBMVEUAAAD09vz8+vz09vT0+vz08vQfYhSOAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAsZJREFUOI0VlO2hrCAMRGlhwVuABAtIJhQgwQIUX/+tvPHPfiFJZnJmk+4VkP3GY49o8+aPmEHTDnEX5IracwyRyMW8RrLljQ/4nF3c2hqvCNaOpLGm16yBipA1N3WE2kp2Nn6C5nDHVgWyRSkj0h7LAWsRmzns6RwFcEkiA10C31ilVTYGGo+S6YOVo8NCxMInDN1UEvyGFJSfoHo7DHbX4cGDXPowNHxi8unFcGjXSM2rWI1lgtOkmQ2YdDnTV6cuiVqjFtfht9f5G3sy0wJ23TnmLNilW0yznGC1W8WUOKEYaqeM4X6kZR03G4Tf4o2+7O0IuSRV2puNo+rgnefWsz21PjWtWNoXWNpp8bAlna+C9DPb17q4h6W4F3XTEkVPxUxMFAhuhbr74FvEmxzvDMvORYKjm0uhMpp4RDT8AljVKbPMCLujz8SvHcUis9wVTkEj1xBLnbum1O3m9Yz22V/sWiPRyQo+zt20rQ47p70wbenBdDzSIEPhKucfTToc6d9sGJnjYgveEkLXSzVJHwkbpPHmWWJQzjSSQq82N9mlkqHRCoYMfipwUkJEPxu4n/nz+DyxKT09V1zSixxsAGp1/1P82NzIyzrM3w/Dj1LZCVKZaV07RotXKXIu97YkY+BJhBVj0sECLn/Pqm0PSCSUSze6/emHrIK8uZAf6qhKf9Bo3Do6+ouOekdaPezHsqHPhoUSZHEFIon/PpuEC9w+PVQhYxdnonb599GjXIhs5JgKO9jDbkXRk8t9w/xwLqtUWYmB6i6VGOQgcZ2xYxYURJTV5VPTLsutCLgz54F9STP2vnjOjEjOcgyUpPYSl5eiCEWVH1NIsvJIhbFnuZd/HGSZ8wy6ppMHJk+T0kYbYSPiCzNL/6XJMfKPCEm78LajsD1J3BIJkw/dxlTZ/DLBn+39pV2wyeVYyniQEzkfDTb8D5Um3LYDkDzIAAAAAElFTkSuQmCC)] */
  @apply bg-[url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAElBMVEUAAAD09vz8+vz09vT0+vz08vQfYhSOAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAstJREFUOI0dk4GxozAMRN1C8KcALLsAa60CgqGAWKj/Vm65TGYyDA7Svn0kMZOlgKliv0c7gPW3fi0hr+wQy7z3E+tFl0C0JBvYRJHhZm3qbliS/d6SaO+zKdZRS9NdTZ9p/EsK/XPTJvD2DsIpAE5bCUWnGGyIuXUPPCgtoyU79m2M1e1P/Fjqmu32DzRto0ZVueWKboIwU5k6/lLO3cpflDMwLSS4t8RASYh5cxwO94/DT5Xoww3JOW/HlX8Ag/LzRoF4Om9zHWvY3r22k/F4fLikS2HPujmWx2Si3CFon54w94amvzdVNzBlvHTuJCYOvVBhETqqeTHMg/8wAlRZTQvBY28mxWKU5OruUlB92bjRtebJoZ6Ey5j5CDllXMzuT0jGlgryA/kTvaLl43FmidLzNzk6pEd7s03O+ZtzbrMhsUlrS0QwTAZ70srnoSYu+w5Q/KC+8Vaw6m6NrLwN3b+tf1zoBY05jmw1Fa5KQPICrBl2oJzMaGlaD0bc7eos7hHX4vSHw5/p91Ihqhal7WgNE/RKv+K50KU9h7xactXNdaUPjqLiC8/igNl8trjdNemWF59LcYIQCfByrAJP+Vyxot8fUwu/2tJjNfhKZmN/yYnVkUONTvI7cvpMIeufN/YTzJJNQzY3QkQOKK985XMo5SMjIMWOs2D5gXku3J6pEzYKN9m/+gvWLdjzc+rgcpruR3ZX8AKZ8Idr9e1FQsocuXTtOVefUUdUetDSfy8XWOm0KuxJct/4QiYBpVltNDk2Cb0NFzuQnn7+6KuWUzg69CoSJLzSWvg0qsMllomtkTsPWiSWxu49+N7Kt1P9V/DvQOLbqqcRJw58Jtau+FKpLRl4DLIH1kath3IZLiTJ/PhKWWrX67WLypD5ZcB6/ZzKuU+M6VOmY7RVSZdeZAJ8izjHuwRZ+WJR68O9/Af+vDbOarH+mvwDnTXvVwd7Ib4AAAAASUVORK5CYII=)]
}

.focus-state {
  @apply rounded-full focus-visible:outline outline-2 outline-offset-2 outline-neutral-400;
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);
  font-weight: 600;
}

strong {
  font-weight: 600;
}