@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-100: 253 100% 93%;

  --orange-100: 10 93% 92%;

  --neutral-900: 261 46% 15%;
  --neutral-700: 220 9% 36%;
  --neutral-400: 220 9% 46%;
  --neutral-300: 220 13% 80%;
  --neutral-200: 220 13% 91%;
  --neutral-100: 220 13% 94%;

  --typescript: 211 60% 48%;
  --react: 195 82% 44%;
  --vite: 346 55% 64%;
  --tailwindcss: 187 53% 47%;
  --expressjs: 60 2% 20%;
  --nodejs: 110 39% 46%;
  --mongodb: 112 45% 46%;
  --zod: 231 49% 49%;
  --html: 12 78% 52%;
  --css: 226 80% 57%;
  --javascript: 54 93% 35%;
  --framermotion: 297 95% 42%;
  --nextjs: 0 0% 0%;
  --reactquery: 346 35% 48%;
  --zustand: 41 82% 45%;
  --prisma: 237 47% 52%;
  --sql: 209 59% 65%;

  --destructive-400: 0 88% 67%;

  --font-size-200: clamp(0.56rem, calc(0.62rem + -0.04vw), 0.61rem);
  --font-size-300: clamp(0.85rem, calc(0.85rem + -0.08vw), 0.9rem);
  --font-size-400: clamp(0.88rem, calc(0.85rem + 0.13vw), 1.00rem);
  --font-size-500: clamp(1.05rem, calc(0.99rem + 0.28vw), 1.33rem);
  --font-size-600: clamp(1.26rem, calc(1.16rem + 0.52vw), 1.78rem);
  --font-size-700: clamp(1.51rem, calc(1.34rem + 0.86vw), 2.37rem);
  --font-size-800: clamp(1.81rem, calc(1.55rem + 1.34vw), 3.16rem);
  --font-size-900: clamp(2.18rem, calc(1.77rem + 2.03vw), 4.21rem);
}

.grainy-bg {
  @apply bg-[url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAElBMVEUAAAD09vz8+vz09vT0+vz08vQfYhSOAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAstJREFUOI0dk4GxozAMRN1C8KcALLsAa60CgqGAWKj/Vm65TGYyDA7Svn0kMZOlgKliv0c7gPW3fi0hr+wQy7z3E+tFl0C0JBvYRJHhZm3qbliS/d6SaO+zKdZRS9NdTZ9p/EsK/XPTJvD2DsIpAE5bCUWnGGyIuXUPPCgtoyU79m2M1e1P/Fjqmu32DzRto0ZVueWKboIwU5k6/lLO3cpflDMwLSS4t8RASYh5cxwO94/DT5Xoww3JOW/HlX8Ag/LzRoF4Om9zHWvY3r22k/F4fLikS2HPujmWx2Si3CFon54w94amvzdVNzBlvHTuJCYOvVBhETqqeTHMg/8wAlRZTQvBY28mxWKU5OruUlB92bjRtebJoZ6Ey5j5CDllXMzuT0jGlgryA/kTvaLl43FmidLzNzk6pEd7s03O+ZtzbrMhsUlrS0QwTAZ70srnoSYu+w5Q/KC+8Vaw6m6NrLwN3b+tf1zoBY05jmw1Fa5KQPICrBl2oJzMaGlaD0bc7eos7hHX4vSHw5/p91Ihqhal7WgNE/RKv+K50KU9h7xactXNdaUPjqLiC8/igNl8trjdNemWF59LcYIQCfByrAJP+Vyxot8fUwu/2tJjNfhKZmN/yYnVkUONTvI7cvpMIeufN/YTzJJNQzY3QkQOKK985XMo5SMjIMWOs2D5gXku3J6pEzYKN9m/+gvWLdjzc+rgcpruR3ZX8AKZ8Idr9e1FQsocuXTtOVefUUdUetDSfy8XWOm0KuxJct/4QiYBpVltNDk2Cb0NFzuQnn7+6KuWUzg69CoSJLzSWvg0qsMllomtkTsPWiSWxu49+N7Kt1P9V/DvQOLbqqcRJw58Jtau+FKpLRl4DLIH1kath3IZLiTJ/PhKWWrX67WLypD5ZcB6/ZzKuU+M6VOmY7RVSZdeZAJ8izjHuwRZ+WJR68O9/Af+vDbOarH+mvwDnTXvVwd7Ib4AAAAASUVORK5CYII=)]
}

.focus-state {
  @apply focus-visible:outline outline-2 outline-offset-2 outline-neutral-400;
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);
  line-height: 1;
  font-weight: 600;
}

strong {
  font-weight: 600;
}